<section class="content container-fluid">
  <div class="row">
    <div class="col-md-12 col-xl-8 padLR_8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{"Studies"}}

          </h3>
          <button class="btn btn-primary pull-right" type="button" (click)="backClicked();"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
        </div>
        <div style="padding:10px 5px" class="box-body card-no-border f15">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="text-primary">
                <tr>
                  <!-- <th>ID</th> -->
                  <th>Accession</th>
                  <th>Study Date</th>
                  <th>Patient Name</th>
                  <th>Gender</th>
                  <th>Study Description</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let study of allStudies; let i = index">
                  <!-- <td> {{study.ID}} </td> -->
                  <td>{{study.mainDicomTags.accessionNumber}}</td>
                  <td>{{study.mainDicomTags.StudyDate }} </td>
                  <td>{{study.patientMainDicomTags.patientName}}</td>
                  <td>{{study.patientMainDicomTags.patientSex}}</td>
                  <td>{{study.mainDicomTags.studyDescription}}</td>
                  <!-- <td><a style="color: blue;" [routerLink]="['/image']"
                    [queryParams]="{ studyId: study.id}"><i class="glyphicon glyphicon-eye-open"></i></a></td> -->
                    <td><a style="color: blue;" [routerLink]="['/patients/series']"
                      [queryParams]="{ studyId: study.id}"><i class="fa fa-link" style="color:#00acd6"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



