<div class="wrapper" #fullScreen>
    <header class="main-header">
        <a href="index2.html" class="logo">
            <!-- <span class="logo-mini"><b>HL</b>C</span>
            <span class="logo-lg"><i class="fa fa-heartbeat logo_icon"></i><b>E-Health</b>Care</span> -->
            <span class="logo-lg"><b>Dicom Web Viewer</b> </span>
        </a>
        
        <nav class="navbar navbar-static-top" style="background-color:#171819;">
                
            <div class="navbar-custom-menu">
                    <!-- <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div> -->
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a title="Windowing" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-adjust"></i> <i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Windowing</small></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a title="Windowing" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('bright')">
                                    <i class="fa fa-adjust"></i>Windowing
                                </a>
                            </li>
                            <li>
                                <a title="Invert" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('invert')">
                                    <i class="fa fa-2x fa-adjust"></i>Invert
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Pan" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                            (click)="enableTools('pan')">
                            <i class="fa fa-hand-stop-o"></i>
                            <span class="txt"><small>Pan</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Zoom" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                            (click)="enableTools('zoom')">
                            <i class="fa fa-2x fa-search"></i>
                            <!-- <i class="fa fa-sort-down arrow_down"></i> -->
                            <span class="txt"><small>Zoom</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Annotation" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-2x fas fa-font"></i><i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Annotation</small></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a title="Measure" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('rectangleRoi')">
                                    <i class="fa fa-2x fa-square"></i>RectangleRoi
                                </a>
                            </li>
                            <li>
                                <a title="Length Measure" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('length')">
                                    <i class="fa fa-arrows-v"></i>Length
                                </a>
                            </li>
                            <li>
                                <a title="Cobb Measure" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('cobb')">
                                    <i class="fa fa-expand"></i>Cobb
                                </a>
                            </li>
                            <li>
                                <a title="Angle" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('angle')">
                                    <i class="fa fa-2x fa-angle-left"></i>Angle
                                </a>
                            </li>
                            <li>
                                <a title="Text" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" aria-expanded="false"
                                    (click)="enableTools('text')">
                                    <i class="fa fa-2x fas fa-font"></i>Text
                                </a>
                            </li>
                            <li>
                                <a title="Elliptical Measure" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('elliptical')">
                                    <i class="fa fa-circle-o"></i>Elliptical
                                </a>
                            </li>
                            <li>
                                <a title="BiDirectional Measure" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('bi-directional')">
                                    <i class="fa fa-plus"></i>Bi-Directional
                                </a>
                            </li>
                            <li>
                                <a title="Arrow Annotation" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('arrow-annotation')">
                                    <i class="fa fa-long-arrow-left"></i>Arrow
                                </a>
                            </li>
                            <li>
                                <a title="Probe" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                                    aria-expanded="false" (click)="enableTools('probe')">
                                    <i class="fa fa-dot-circle-o"></i>Probe
                                </a>
                            </li>
                    
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Rotate" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-rotate-right"></i><i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Rotate</small></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a title="Rotate" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('rotate')">
                                    <i class="fa fa-rotate-right"></i>Rotate
                                </a>
                            </li>
                            <li>
                                <a title="HFlip" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('hFlip')">
                                    <i class="fa fa-rotate-right"></i>HFlip
                                </a>
                            </li>
                            <li>
                                <a title="VFlip" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    (click)="enableTools('vFlip')">
                                    <i class="fa fa-rotate-left"></i>VFlip
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Magnifier" href="" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" (click)="enableTools('magnify')">
                            <i class="fa fa-search-plus"></i>
                            <span class="txt"><small>Magnif..</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Scroll" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-book"></i> <i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Scroll</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Drag Probe" href="" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom"
                            aria-expanded="false" (click)="enableTools('dragprobe')">
                            <i class="fa fa-mouse-pointer"></i>
                            <span class="txt"><small>Drag</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Fullscreen" href="" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" (click)="openFullscreen()">
                            <i class="fa fa-arrows-alt"></i>
                            <span class="txt"><small>Fullsc..</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Reset" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                            (click)="enableTools('reset')">
                            <i class="fa fa-refresh"></i>
                            <span class="txt"><small>Reset</small></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu thumbnails" data-widget="tree">
                <li class="treeview">
                    <a href="">
                        <span class="txt_menu">{{imageStudy.patientName}}</span>
                        <small class="txt_menu" style="display:block" *ngIf="imageStudy.studyDate">Study Date :
                            <span>{{imageStudy.studyDate}}</span></small>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" *ngFor="let series of imageStudy.series; let i = index">
                        <span class="sub_txt">
                            <small><i
                                    class="fa fa-folder-open"></i>{{selectedInstanceImg}}/{{series.instancesCount}}</small>
                            <small><i class="fa fa-text"></i>{{series.mainDicomTags.protocolName}}</small>
                        </span>
                        <li>
                            <ul class="users-list clearfix">
                                <li class="active_sub"
                                    *ngFor="let instancesModel of series.instancesModel; let j = index">
                                    <img src="{{instancesModel.instancePreview}}" alt="User Image"
                                        (click)="renderImage(instancesModel.instanceId,j,series.instancesCount)">
                                    <span class="users-list-date">{{j+1}}</span>
                                </li>
                            </ul>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content pt_5">
            <div class="row">
                <div class="col-lg-10 col-xs-10">
                    <div class="box cust_box">
                        <div class="box-header pad_0" style="position: relative;background: #171819;">
                            <!-- <h3 class="box-title text-left">1 <br /> 1250 x 780<br /></h3> -->
                            <h3 class="box-title text-left">{{selectedInstanceImg}} / {{instancesTotlaCount}}<br /></h3>
                            <div class="pull-right text-right">
                                <small>Ananymized</small><br /><small>2019-03-18 14:12:47</small>
                            </div>

                        </div>
                        <div class="box-body pad_0">
                            <ul class="users-list clearfix w100per">
                                <li style="min-height: 800px;">
                                    <div id="dicomImage" style="min-height: 820px;width:100%;">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-header pad_0" style="position: relative;background: #171819;">

                            <h3 class="box-title text-left">1 <br /> 1250 x 780<br /></h3>
                            <div class="pull-right text-right">
                                <small>Ananymized</small><br /><small>2019-03-18 14:12:47</small>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-xs-2 rightButton">
                
                    <ul>
                        <li><a href="" class="btn btn-primary btnFontSize" data-toggle="modal" data-target="#myModal"
                                (click)="viewDicomTags()"><i class="fa fa-tags"></i> 
                                <br>
                                Dicom Tags
                                </a></li>
                        <li><a href="" class="btn btn-primary btnFontSize" data-toggle="modal" data-target="#emailModal"><i
                                    class="fa fa-share-alt"></i><br> Share</a></li>
                        <li><a href="" class="btn btn-primary btnFontSize" data-toggle="modal" (click)="viewAddNotes()"><i
                                    class="fa fa-sticky-note-o"></i><br> Notes</a></li>
                        <li><a class="btn btn-primary btnFontSize"><i
                                    class="fa fa-columns"></i><br> Segments</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#07b2ff">Dicom Tags</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- <p>Some text in the modal.</p> -->
                    <div style="padding:10px 5px" class="box-body card-no-border f15">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Tag</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of dicomTags | keyvalue">
                                        <td>{{x.key}}</td>
                                        <td>{{x.value.Name}}</td>
                                        <td>{{x.value.Value}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="emailModal" role="dialog">
        <div class="modal-dialog modal-sl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#07b2ff">Share via Email</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm);">
                        <div class="form-group">
                            <font color="black"><label>Share URL : {{currentURL}}</label></font>
                        </div>
                        <div class="form-group">
                            <font color="black"><label for="recipient-name" class="control-label">Email To:</label>
                            </font>
                            <input type="text" class="form-control" name="email" ngModel #email="ngModel"
                                placeholder="sample@domain.com">
                        </div>
                        <div class="form-group">
                            <font color="black"><label for="recipient-name" class="control-label">Subject:</label>
                            </font>
                            <input type="text" class="form-control" name="subject" [(ngModel)]="subjecttext"
                                #subject="ngModel">

                        </div>
                        <div class="form-group">
                            <font color="black"><label for="message-text" class="control-label">Message:</label></font>
                            <textarea style="overflow:auto;resize:none" class="form-control" name="message"
                                [(ngModel)]="messagetext" #message="ngModel" required rows="3"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info"><i class="fa fa-envelope"></i>&nbsp;Send</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="notesModal" role="dialog">
        <div class="modal-dialog modal-sl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#07b2ff">Notes</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #notesForm="ngForm" (ngSubmit)="addNotes(notesForm);">
                        <div class="form-group">
                            <font color="black"><label for="message-text" class="control-label">Notes:</label></font>
                            <textarea style="overflow:auto;resize:none" class="form-control" name="notes"
                                [(ngModel)]="notestext" #notes="ngModel" required rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Add Notes</button>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered">
                                <!-- <tbody>
                                    <tr>
                                        <td>
                                            <font color="#black">test notes 1</font>
                                        </td>
                                        <td><a><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font color="#black">test notes 2</font>
                                        </td>
                                        <td><a><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody> -->
                                <tbody>
                                    <tr *ngFor="let notes of notesList; let i = index">
                                        <td>
                                            <span style="color:black">{{notes.notesSummary}}</span>
                                        </td>
                                        <td><a (click)="deleteNotes(notes.notesId)"><i class="fa fa-trash"></i></a></td>
                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>