<div class="wrapper" #fullScreen>
    <header class="main-header">
        <a href="index2.html" class="logo">
            <!-- <span class="logo-mini"><b>HL</b>C</span>
            <span class="logo-lg"><i class="fa fa-heartbeat logo_icon"></i><b>E-Health</b>Care</span> -->
            <span class="logo-lg"><b>XaMiNE</b> </span>
        </a>

        <nav class="navbar navbar-static-top" style="background-color:#171819;">

            <div class="navbar-custom-menu">
                <!-- <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div> -->
                <ul class="nav navbar-nav" >
                    <li class="dropdown messages-menu">
                        <a title="Windowing" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='windowningDDL'}" (click)="btnActive('windowningDDL')">
                            <i class="fa fa-adjust"></i> <i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Windowing</small></span>
                        </a>
                        <ul class="dropdown-menu" style="text-align: center;top:60px;width: 5%;border-radius: 10px;"> 
                            <li>
                                <a title="Windowing" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('bright')">
                                    <i class="fa fa-adjust"></i><br>Windowing
                                </a>
                            </li>
                            <li>
                                <a title="Invert" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('invert')">
                                    <i class="fa fa-eercast"></i><br>Invert
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Pan" href="" tabindex="1" class="dropdown-toggle" data-toggle="dropdown" 
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='pan'}" (click)="btnActive('pan');enableTools('pan')">
                            <i class="fa fa-hand-stop-o"></i>
                            <span class="txt"><small>Pan</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Zoom" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='zoom'}"  (click)="btnActive('zoom');enableTools('zoom')">
                            <i class="fa fa-2x fa-search"></i>
                            <!-- <i class="fa fa-sort-down arrow_down"></i> -->
                            <span class="txt"><small>Zoom</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Annotate" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                        [ngClass]="{'active': activeBtn==='annotate'}"  (click)="btnActive('annotate');" aria-expanded="false">
                            <i class="fa fa-2x fas fa-font"></i><i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Annotate</small></span> 
                        </a>
                        <ul class="dropdown-menu" style="text-align: center;top:60px;width: 10%;border-radius: 10px;">
                            <li>
                                <a title="Measure" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('rectangleRoi')">
                                    <i class="fa fa-2x fa-square"></i><br>RectangleRoi
                                </a>
                            </li>
                            <li>
                                <a title="Length Measure" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('length')">
                                    <i class="fa fa-arrows-v"></i><br>Length
                                </a>
                            </li>
                            <li>
                                <a title="Cobb Measure" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('cobb')">
                                    <i class="fa fa-expand"></i><br>Cobb
                                </a>
                            </li>
                            <li>
                                <a title="Angle" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('angle')">
                                    <i class="fa fa-2x fa-angle-left"></i><br>Angle
                                </a>
                            </li>
                            <li>
                                <a title="Text" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('text')">
                                    <i class="fa fa-2x fas fa-font"></i><br>Text
                                </a>
                            </li>
                            <li>
                                <a title="Elliptical Measure" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('elliptical')">
                                    <i class="fa fa-circle-o"></i><br>Elliptical
                                </a>
                            </li>
                            <li>
                                <a title="BiDirectional Measure" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false"
                                    (click)="enableTools('bi-directional')">
                                    <i class="fa fa-plus"></i><br>Bi-Directional
                                </a>
                            </li>
                            <li>
                                <a title="Arrow Annotation" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false"
                                    (click)="enableTools('arrow-annotation')">
                                    <i class="fa fa-long-arrow-left"></i><br>Arrow
                                </a>
                            </li>
                            <li>
                                <a title="Probe" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    data-placement="bottom" aria-expanded="false" (click)="enableTools('probe')">
                                    <i class="fa fa-dot-circle-o"></i><br>Probe
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Rotate" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='rotateDDL'}" (click)="btnActive('rotateDDL')">
                            <i class="fa fa-rotate-right"></i><i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Rotate</small></span>
                        </a>
                        <ul class="dropdown-menu" style="text-align: center;top:60px;width: 10%;border-radius: 10px;">
                            <li>
                                <a title="Rotate" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('rotate')">
                                    <i class="fa fa-rotate-right"></i><br>Rotate
                                </a>
                            </li>
                            <li>
                                <a title="HFlip" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('hFlip')">
                                    <i class="fa fa-shield fa-flip-horizontal"></i><br>HFlip
                                </a>
                            </li>
                            <li>
                                <a title="VFlip" href="" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false" (click)="enableTools('vFlip')">
                                    <i class="fa fa-shield fa-flip-vertical"></i><br>VFlip
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Magnifier" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='magnify'}" (click)="btnActive('magnify');enableTools('magnify')">
                            <i class="fa fa-search-plus"></i>
                            <span class="txt"><small>Magnif..</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu" style="display: none;">
                        <a title="Scroll" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-book"></i> <i class="fa fa-sort-down arrow_down"></i>
                            <span class="txt"><small>Scroll</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Drag Probe" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            data-placement="bottom" aria-expanded="false" [ngClass]="{'active': activeBtn==='dragprobe'}" (click)="btnActive('dragprobe');enableTools('dragprobe')">
                            <i class="fa fa-mouse-pointer"></i>
                            <span class="txt"><small>Drag</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Fullscreen" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='fullscreen'}" (click)="btnActive('fullscreen');openFullscreen()">
                            <i class="fa fa-arrows-alt"></i>
                            <span class="txt"><small>Fullsc..</small></span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a title="Reset" href="" tabIndex="1" class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" [ngClass]="{'active': activeBtn==='reset'}" (click)="btnActive('reset');enableTools('reset')">
                            <i class="fa fa-refresh"></i>
                            <span class="txt"><small>Reset</small></span>
                        </a>
                    </li>
                </ul>
                <div>
                    <button style="margin-top: 10px;" class="btn btn-primary pull-right customBtn" type="button" (click)="backClicked();"><i
                            class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
                </div>
            </div>
            
        </nav>

    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu thumbnails" data-widget="tree">
                <li class="treeview menu-open">
                    <a href="">
                        <span class="txt_menu">{{imageStudy.patientName}}</span>
                        <small class="txt_menu" style="display:block" *ngIf="imageStudy.studyDate">Study Date :
                            <span>{{imageStudy.studyDate}}</span></small>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: block;" *ngFor="let series of imageStudy.series; let i = index">
                        <span class="sub_txt">
                            <small><i
                                    class="fa fa-folder-open"></i>{{selectedInstanceImg}}/{{series.instancesCount}}</small>
                            <small><i class="fa fa-text"></i>{{series.mainDicomTags.protocolName}}</small>
                        </span>
                        <li>
                            <ul class="users-list clearfix">
                                <li [ngClass]="{'active_sub': selectedItem === instancesModel.instanceId}"
                                    *ngFor="let instancesModel of series.instancesModel; let j = index">
                                    <img src="{{instancesModel.instancePreview}}" alt="User Image"
                                        (click)="renderImage(instancesModel.instanceId,j,series.instancesCount)">
                                    <span class="users-list-date">{{j+1}}</span>
                                </li>
                            </ul>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content pt_5">
            <div class="row">
                <div class="col-lg-9 col-xs-9">
                    <div class="box cust_box">
                        <div class="box-header pad_0" style="position: relative;background: #171819;">
                            <!-- <h3 class="box-title text-left">1 <br /> 1250 x 780<br /></h3> -->
                            <h3 class="box-title text-left">{{selectedInstanceImg}} / {{instancesTotlaCount}}<br /></h3>
                            <div class="pull-right text-right">
                                <small>Ananymized</small><br /><small>2019-03-18 14:12:47</small>
                            </div>

                        </div>
                        <div class="box-body pad_0">
                            <ul class="users-list clearfix w100per">
                                <li style="min-height: 800px;">
                                    <div id="dicomImage" style="min-height: 820px;width:100%;">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-header pad_0" style="position: relative;background: #171819;">

                            <h3 class="box-title text-left">1 <br /> 1250 x 780<br /></h3>
                            <div class="pull-right text-right">
                                <small>Ananymized</small><br /><small>2019-03-18 14:12:47</small>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-xs-3 rightButton">

                    <ul>
                        <li><a href="" class="btn btn-primary customBtn" data-toggle="modal" data-target="#myModal"
                                (click)="viewDicomTags()"><i class="fa fa-tags" style="font-size: 35px;"></i>
                                <br>
                                Dicom Tags
                            </a></li>
                        <li><a href="" class="btn btn-primary customBtn" data-toggle="modal" data-target="#emailModal"><i
                                    class="fa fa-share-alt-square" style="font-size: 35px;"></i><br> Share</a></li>
                        <li><a href="" class="btn btn-primary customBtn" data-toggle="modal" (click)="viewAddNotes()"><i
                                    class="fa fa-sticky-note-o" style="font-size: 35px;"></i><br> Notes</a></li>
                        <li>
                            <!-- <a class="btn btn-primary btnFontSize " target=”_blank” [routerLink]="['/segments']"
                                                                            [queryParams]="{ instanceId: selectedinstanceId}"><i
                                                                                    class="fa fa-columns"></i><br> Segments</a> -->
                            <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <i class="fa fa-columns"></i><br>Segments
                                                        <span class="caret"></span></button> -->
                            <a class="btn btn-primary customBtn" data-toggle="dropdown"><i class="fa fa-columns"
                                    style="font-size: 35px;"></i><br> Segments <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="text-align: center;margin-left:45px;width: 200px;border-radius: 15px;">
                                <li>
                                    <a href="" data-toggle="modal" data-target="#thresholdSegmentModal">
                                        <i class="fa fa-th-large" aria-hidden="true"></i><br>Boundary-Based
                                    </a>
                                </li>
                                <li>
                                    <a href="" data-toggle="modal" data-target="#kmeansSegmentModal" >
                                        <i class="fa fa-windows" aria-hidden="true"></i><br>Color-Based
                                    </a>
                                </li>
                                <li style="display: none;">
                                    <a target=”_blank” [routerLink]="['/rgsegments']"
                                        [queryParams]="{ instanceId: selectedinstanceId}">
                                        <i class="fa fa-th" aria-hidden="true"></i><br>Region Growth
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#367fa9">Dicom Tags</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- <p>Some text in the modal.</p> -->
                    <div style="padding:10px 5px">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of dicomTags | keyvalue">
                                        <td>
                                            <font color="black">{{x.key}}</font>
                                        </td>
                                        <td>
                                            <font color="black">{{x.value.Name}}</font>
                                        </td>
                                        <td>
                                            <font color="black">{{x.value.Value}}</font>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="emailModal" role="dialog">
        <div class="modal-dialog modal-sl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#367fa9">Share via Email</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm);">
                        <div class="form-group">
                            <span style="color: black;">Share URL : {{currentURL}}</span>
                        </div>
                        <div class="form-group">
                            <span style="color: black;">Email To:</span>
                            <input type="text" class="form-control" name="email" ngModel #email="ngModel"
                                placeholder="sample@domain.com">
                        </div>
                        <div class="form-group">
                            <span style="color: black;">Subject:</span>
                            <input type="text" class="form-control" name="subject" [(ngModel)]="subjecttext"
                                #subject="ngModel">

                        </div>
                        <div class="form-group">
                            <span style="color: black;">Message:</span>
                            <textarea style="overflow:auto;resize:none" class="form-control" name="message"
                                [(ngModel)]="messagetext" #message="ngModel" required rows="3"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i>&nbsp;Send</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="notesModal" role="dialog">
        <div class="modal-dialog modal-sl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#367fa9">Notes</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #notesForm="ngForm" (ngSubmit)="addNotes(notesForm);">
                        <div class="form-group">
                            <span style="color: black;">Notes:</span>
                            <textarea style="overflow:auto;resize:none" class="form-control" name="notes"
                                [(ngModel)]="notestext" #notes="ngModel" required rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Notes</button>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr *ngFor="let notes of notesList; let i = index">
                                        <td>
                                            <span style="color:black">{{notes.notesSummary}}</span>
                                        </td>
                                        <td><a (click)="deleteNotes(notes.notesId)"><i class="fa fa-trash"></i></a></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="thresholdSegmentModal" role="dialog">
        <div class="modal-dialog modal-sl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#367fa9">Boundary-Based Segment</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #thresholdSegmentForm="ngForm">
                        <div class="form-group">
                            <span style="color: black;">Enter Segment value:</span>
                            <!-- <input type="text" class="form-control" style="width: 70%;margin-left: 160px;margin-top: -30px;" name="segments" ngModel #segments="ngModel"> -->
                            <div class="input-group">
                                <input type="number" min="2" max="8" value="2" class="form-control"
                                    style="text-align:center;width: 100%;margin-left: 160px;margin-top: -30px;"
                                    name="thSegments" ngModel #thSegments="ngModel">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="submit" class="btn btn-info">Submit</button> -->
                            <a class="btn btn-primary" target=”_blank” [routerLink]="['/segments']"
                                [queryParams]="{ instanceId: selectedinstanceId,segmentsVal: thSegments.value}">
                                Submit
                            </a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="kmeansSegmentModal" role="dialog">
        <div class="modal-dialog modal-sl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">
                        <font color="#367fa9">Color-Based Segment</font>
                    </h4>
                </div>
                <div class="modal-body">
                    <form #kmeansSegmentForm="ngForm">
                        <div class="form-group">
                            <span style="color: black;">Enter Segment value:</span>
                            <div class="input-group">
                                <input type="number" min="2" max="8" value="2" class="form-control"
                                    style="text-align:center;width: 100%;margin-left: 160px;margin-top: -30px;"
                                    name="kmSegments" ngModel #kmSegments="ngModel">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" target=”_blank” [routerLink]="['/kmsegments']"
                                [queryParams]="{ instanceId: selectedinstanceId,segmentsVal: kmSegments.value}">
                                Submit
                            </a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>