<aside class="main-sidebar">
  <section class="sidebar">

        <div class="margin" style="display:none">
                <div class='select_style'>
                    <select class="form-control background_trans" style="color: #fff;">
                        <option selected>item list one</option>
                        <option>item list one</option>
                        <option>item list one</option>
                        <option>item list one</option>
                    </select>
                    <span><i _ngcontent-c0="" class="fa fa-angle-left pull-right" style="color:#fff"></i></span>
    
                </div>
            </div>
            
      <ul class="sidebar-menu" data-widget="tree">
          <!-- <li class="treeview">
              <a href="#">
                  <i class="fa fa-table"></i> <span>Patients</span>
                  <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
                    [routerLink]="['/patients']"><i class="fa fa-hand-o-right"></i><span>Patient</span></a>
                  </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
                    [routerLink]="['/patients/studies']"><i class="fa fa-hand-o-right"></i><span>Studies</span></a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
                    [routerLink]="['/patients/series']"><i class="fa fa-hand-o-right"></i><span>Series</span></a>
                </li>
              </ul>
          </li> -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
            [routerLink]="['/patients']"><i class="fa fa-users"></i><span>Patients</span></a>
          </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
            [routerLink]="['/patients/studies']"><i class="fa fa-hand-o-right"></i><span>Studies</span></a>
        </li>
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
            [routerLink]="['/patients/series']"><i class="fa fa-hand-o-right"></i><span>Series</span></a>
        </li> -->
      </ul>
  </section>
</aside>