/* You can add global styles to this file, and also import other style files */

@import "../node_modules/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/admin-lte/bower_components/font-awesome/css/font-awesome.min.css";
@import "../node_modules/admin-lte/bower_components/Ionicons/css/ionicons.min.css";
@import "../node_modules/admin-lte/dist/css/AdminLTE.min.css";

/* Default skin */
@import "../node_modules/admin-lte/dist/css/skins/_all-skins.min.css";



@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");
/* Default skin */

a { cursor: pointer } 

body,
html {
    color: #fff;
    background-color: #27272b;
}

th {
    border-top: 0;
    color: lightskyblue !important;
}

tr:hover {background-color: #666 !important;}



