/* You can add global styles to this file, and also import other style files */

@import "../node_modules/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/admin-lte/bower_components/font-awesome/css/font-awesome.min.css";
@import "../node_modules/admin-lte/bower_components/Ionicons/css/ionicons.min.css";
@import "../node_modules/admin-lte/dist/css/AdminLTE.min.css";

/* Default skin */
@import "../node_modules/admin-lte/dist/css/skins/_all-skins.min.css";

/* Default skin */

/* a { cursor: pointer } */

body {
    background-color: black !important;
}





